* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}

/* NAVBAR */
.logo {
  letter-spacing: 4px;
  font-size: 20px;
}

nav {
  display: flex;
  background-color: #1b2838;
  justify-content: space-around;
  /* padding: 20px; */
  color: #babdc4;
  height: 60px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

nav ul li a {
  color: #babdc4;
  text-decoration: none;
}

nav ul li a:hover {
  color: #c7d5e0;
}

/* burger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #babdc4;
  border-radius: 3px;
  transition: all 0.5s;
}

/* burger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 100% 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 100% 0;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: #c90202;
  transform: rotate(-45deg) translate(-2px, 0px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: #e90202;
  transform: rotate(45deg) translate(-0.8px, -1.1px);
}

/* responsive break tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}
/* responsive break mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    z-index: 4;
  }
  .logo {
    font-size: 15px;
  }
  nav ul {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #1b2838;
    z-index: -1;
    /* transform: translateX(100%); */
    transition: all 0.8s;
    opacity: 0;
  }
  nav ul.slide {
    /* transform: translateX(0); */
    opacity: 1;
    right: 0;
    z-index: 3;
  }
  main {
    position: absolute;
  }
}
/* END of NAVBAR */

main {
  min-height: 100vh;
  background: linear-gradient(to right top, rgb(42, 71, 94), #66c0f4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  /* background: rgb(199, 213, 224); */
  min-height: 80vh;
  width: 65%;
  background: linear-gradient(
    to right bottom,
    rgba(199, 213, 224, 0.7),
    rgba(199, 213, 224, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(0.2rem);
  z-index: 2;
  display: flex;
}

.deck1 {
  display: flex;
  position: fixed;
  opacity: 0.4;
  top: 40%;
  left: 35%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(199, 213, 224, 0.7),
    rgba(199, 213, 224, 0.3)
  );
  border-radius: 2rem;
}
.user {
  margin: 2rem 0;
}
.link {
  display: flex;
  margin: 2rem 0;
  padding: .4rem 5rem;
  align-items: center;
}
.link h3 {
  padding: 0rem 2rem;
}

.pro {
  background: linear-gradient(to right top, rgb(42, 71, 94), #66c0f4);
  border-radius: 1.9rem;
  padding: 1.2rem ;
  display: flex;
  position: relative;
  color: goldenrod;
}
.pro img{
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.pro h3{
  width: 40%;
}

/* Games */
.games {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.library input {
  display: flex;
  background: linear-gradient(
    to right bottom,
    rgba(199, 213, 224, 0.7),
    rgba(199, 213, 224, 0.3)
  );
  margin-top: 1.2rem;
  border: none;
  width: 40%;
  padding: 5px;
  border-radius: 2rem;
  align-items: center;
}

.card {
  display: flex;
  background: linear-gradient(to left top,
  rgba(199, 213, 224, 0.7),
  rgba(199, 213, 224, 0.3) );
  border-radius: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, .5);
  justify-content: space-between;
  /* padding: 0 4px; */
}
.line {
  border-bottom: 2px solid #2a475e;
  display: block;
}
.card-info {
  margin-top: 7%;
  margin-left: -20%;
}
.run {
  margin: 2rem;
  cursor: pointer;
}

.games {
  flex: 1.5;
}
